<section class="container">
    <div class="columns">
        <div class="column <%if (page.toc == undefined ? true:page.toc) {%> three-fourths <%}%>" > 
            <article class="article-content markdown-body">
                <%- post.content %>
            </article>
            <% if (page.share == undefined ? true : page.share) { %>
                <div class="share">
                    <%- partial('_widget/sns-share',{page: page}) %>
                </div>    
            <% } %>

            <% if(page.donate) {%>
                <iframe src="/donate" style="overflow-x:hidden;overflow-y:hidden; border:0xp none #fff; min-height:240px; width:100%;"  frameborder="0" scrolling="no"></iframe>
            <%}%>

        </div>
        <div class="column one-fourth">
            <% if (page.toc == undefined ? true:page.toc) { %>
                <%page.toc=true%>
                <%- partial('_partial/post/toc') %>
            <% } %>
        </div>
    </div>
</section>
